@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px];
  }
  .chatRow {
    @apply rounded-lg px-2 md:px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-gray-700/50 cursor-pointer text-gray-300 transition-all duration-500 ease-in-out;
  }
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #343541;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #25262d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
.rounded-circle {
  border-radius: 50%;
  vertical-align: middle;
}
.rdw-editor-toolbar {background-color:#25262d !important;}
@media screen and (min-width: 768px) {
  .min-h-150px {
    min-height: 150px;
  }
}
